nav {
	height: 57px;
}

table {
	width: 100%;
	border-bottom: red solid 4px;
}

h2 {
	color: red;
	text-align: center;
	margin: 10px auto;
}

/*Removes line under logo*/
td:first-child a {
	text-decoration: none;
}

td:nth-last-child(-n+2) {
	text-align: center;
}

a {
	color: red;
}